<div class="container">
    <h1>WebApi Excercise</h1>

    <div class="row">
        <div class="col-md-4">
            <h2>Suppliers</h2>
            <p>
                Get suppliers
            </p>
            <p><a class="btn btn-default" href="/api/Supplier" target="_blank">See All Suppliers &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Products</h2>
            <p> 
                Get  products
            </p>
            <p><a class="btn btn-default" href="/api/Product" target="_blank">See All Products &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Purchase Orders</h2>
            <p>
                Get  Purchase Orders
            </p>
            <p><a class="btn btn-default" href="/api/PurchaseOrder" target="_blank">See All Purchase Orders &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sales Orders</h2>
            <p>
                Get  Sales Orders
            </p>
            <p><a class="btn btn-default" href="/api/SalesOrder" target="_blank">See All Sales Orders &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Users</h2>
            <p>
                Get  users
            </p>
            <p><a class="btn btn-default" href="/api/User" target="_blank">See All Users &raquo;</a></p>
        </div>
    </div> 
</div>