@section Scripts{
    <script src="~/scripts/app/PurchaseOrderClient.js"></script>
}

<div class="container" ng-app="MyApp">
    <div ng-controller="PurchaseOrderController">
        <h2>{{pageTitle}}</h2>

        <table class="table table-bordered table-striped table-responsive">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Item Quanity</th>
                <th>Amount</th>
                <th> </th>
            </tr>
            <tr ng-repeat="supp in purchaseOrders">
                <td>{{supp.Id}}</td>
                <td>{{supp.PurchaseDate | date : 'MM-dd-yyyy'}}</td>
                <td>{{supp.PurchaseOrderLine.length}}</td>
                <td>R$ {{supp.TotalAmount}}</td>
                <td>
                    <a class="text-primary" href="#" ng-click="edit(supp.Id)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    <a class="text-danger" href="#" ng-click="delete(supp.Id)"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                </td>
            </tr>
        </table>

        <h2>{{formTitle}}</h2>
        <form name="supplierForm" ng-submit="submitForm(PurchaseOrder)">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="ID">ID</label>
                    <input type="text" id="ID" class="form-control" placeholder="Product ID" ng-model="PurchaseOrder.Id" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="PurchaseDate">Purchase Date</label>
                    <input class="form-control" id="PurchaseDate" type="date" placeholder="MM-dd-yyyy" min="1900-01-01" max="2060-12-31" ng-model="PurchaseOrder.PurchaseDate">

                </div> 
            </div> 
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="TotalAmount">Total Amount</label>
                    <input type="text" id="TotalAmount" class="form-control" placeholder="Total Amount" ng-model="PurchaseOrder.TotalAmount" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="Product">Product</label>
                    <select id="Product" class="form-control" ng-model="PurchaseOrder.PurchaseOrderLine.ProductId" ng-options="s.Id as s.Name for s in products track by s.Id" required>
                        <option value="">Choose Option</option>
                    </select> 
                </div>
                <div class="form-group col-md-1">
                    <label for="QTY">Quantity</label>
                    <input type="text" id="QTY" class="form-control" placeholder="Quantity" ng-model="PurchaseOrder.PurchaseOrderLine.Quantity" >
                </div>
            </div>
            <button type="submit" class="btn btn-default">Add/Update</button>
            <button type="reset" class="btn btn-default">Clear</button>
        </form>
    </div>
</div>